.sidebarRegionScroller-FXiQOh {
   width: 230px !important;
   margin-right: -10px;
  }
  .content-2a4AW9[style="height: 2564px;"] {
     margin-top: 52px;
  }
  .sidebarRegionScroller-FXiQOh {
      margin-top: 62px;
      bottom: 0px;
  }
  .sidebar-nqHbhN {
      margin-top: -60px;
  }
.settingsBanner-1eDJ5w {
background-image: url("https://i.imgur.com/vXjbqdl.mp4");
}

.sidebarRegion-1VBisG {
flex-grow: 0;
}
.contentColumnDefault-3eyv5o {
max-width: calc(100% - 60px);
}
.top-K_jibn .item-3XjbnG, .top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
top: 00px;
position: relative;
}     
.searchBar-zdmu7v {background-color: transparent;}
.titleBar-1it3bQ > *:nth-child(2):hover {background-color: var(--alt-color2);}
.withFrame-2dL45i {
padding-top: 15px;
height: 20.5px;
margin-top: 4px;
border-width: 2px;
}
.winButton-3UMjdg {
position: relative;
top: -20px;
cursor: pointer;
width: 38px;
height: 38px;
pointer-events: auto;
-webkit-app-region: no-drag;
}
.winButton-3UMjdg [aria-hidden="false"][width="12"][height="12"] {
margin-top: 3px;
}
/** Replace discord watermark text **/
.wordmark-2u86JB:after {
content: "Glasscord";
color: #fff;
background-color: var(--glasscord-secondary-alt);
font-size: 11.8px;
font-weight: 700;
text-indent: 2.5px;
position: absolute;
width: 56px;
padding: 2px;
border-radius: 12px;
left: 9px;
top: 14px;
transform: scale(1);
padding-left: -1px;
}
.wordmark-2u86JB > svg {
width: 0px;
}
.wordmark-2u86JB:before{
content: "" var(--version);
color: #fff;
background-color: var(--glasscord-secondary-alt);
font-size: 11.8px;
font-weight: 700;
text-indent: 2.5px;
position: absolute;
width: 38px;
padding: 2px;
border-radius: 12px;
left: 75px;
position: fixed;
display: var(--version-display);
top: 14px;
transform: scale(1);
padding-left: -1px;
}


.platform-osx .scroller-2TZvBN {
padding-top: 32px;
-webkit-mask: linear-gradient(#0000, #fff 32px);
}

.platform-osx .wrapper-1Rf91z {
margin-top: 0;
}

.typeMacOS-3V4xXE {
background-color: transparent !important;
}

.platform-osx .unreadMentionsIndicatorTop-gA6RCh {
top: 32px;
}

.platform-osx .back-ZdqB1k {
-webkit-app-region: no-drag;
}

.platform-osx .button-3_1yil {
-webkit-app-region: no-drag;
}

.platform-osx .toolbar-3_r2xA {
-webkit-app-region: no-drag;
}


.platform-osx .topic-11NuQZ {
-webkit-app-region: no-drag;   
}

/* Glasscord Primary */
body, #app-mount, .app-2CXKsg 
{ background-color: var(--glasscord-primary); background: var(--glasscord-primary) !important; }

/* Glasscord Secondary */
.container-1IyjjY, .perks-26lTSw.container-18GwIk.theme-dark .root-g14mjS, .chatHeaderBar-2fUORh, .container-3i3IzO, .theme-dark .root-g14mjS, .circleIconButton-1QV--U, .powercord-quickcss:not(.popped-out), .videoWrapper-1_H3B3, .theme-dark .uploadModal-2ie9O_, .replyBar-1oi75v, .threadSuggestionBar-3ExSyc, .attachedBars-2BCP3l, .optionContainer-yOpaLq, .upsellContainer-L9xv7w, .value-kR4BVK, .wrapper-24fR1R, .messageContainer-3a6gLR, .icon-2DGsye, .welcomeChannel-1rFrIO, .previewContainer-1SS3uO, .settingsFormFieldWrapper-U99c9i, .featureCard-1RR4Tl, .cardFolder-3H4uH4, .connectionOptionsWrapper-1ipqUo, .powercord-toast .contents .inner, .emptyCard-KDifrB, .channelName-3w2Y3c, .searchResultsWrap-5RVOkx, .theme-light .userSettingsVoice-1_dzjw .previewOverlay-2reuWf, .theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf, .theme-dark .codeRedemptionRedirect-3SBiCp, .wrapper-2vIMkT, .connectionHeader-2rV1ze, .accountList-305sx3, .total-members-preview, .item-2idW98, .primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX, .content-3spvdd, .expandedFolderBackground-1cujaW, .theme-light .container-S9SaVf, .theme-dark .container-S9SaVf, .actionButton-3-B2x-, .wrapper-2RrXDg, .scrollableContainer-15eg7h, .mulitplePlaceholderUsername-2T3DCI, .placeholderAvatar-1qAcRZ, .placeholderUsername-3iQi_D
{ background-color: var(--glasscord-secondary) !important}
.container-2rzKKA, .theme-dark .codeRedemptionRedirect-3SBiCp,  .powercord-toast .buttons, .powercord-toast .contents .inner,.powercord-toast .contents,.powercord-toast .header
{border: 0px;}

/* Secondary Alt */
.attachment-1PZZB2, .theme-dark .contentWarningPopout-WKdbDG, .theme-dark .footer-31IekZ, .audienceVoiceUserIconContainer-1aQGLF, .privacyContainer-JsAijK, .perks-26lTSw, .container-2rzKKA, .theme-dark .message-G6O-Wv, .reaction-2A2y9y, .theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98, .theme-light .card-2TuZPZ,[class="container-20TyK0 elevationHigh-28Pty4"],.upsellFooter-ZYsio_, .descriptionBox-1EKQKL, .perksList-1vtwXn, .theme-dark .iconWrapper-2_MXbk, .upsellFooter-1H_OCF, .container-3EtAkD, .theme-dark .tierHeaderLocked-30MLlO, .editButton-2SLR4j, .settingsFormItem-25zW3t, .enableContainer-1J91Aq, .card-3_CqkU, .iconMask-30Tvqs, .container-2w0lh0, .checklistContainer-mFJZEJ, .item-4m-12I[aria-checked=false],.cardContent-1-5hym, .popout-1KHNAq, .table-17_dGF, .lookFilled-1GseHa.select-1Ia3hD, .wrapper-1NNaWG, .inspector-DFKXwB, .contentWrapper-3vHNP2, .powercord-toast, .powercord-toast .buttons, .powercord-toast .contents, .theme-dark .gemIndicatorContainer-PqApbX, .connectionHeader-2rV1ze, .input-2z42oC, .powercord-toast .header, .searchResult-O9NDji, .theme-light .default-1Tkeeg, .theme-dark .default-1Tkeeg, .powercord-entities-manage-tabs, .developerPortalCtaWrapper-2XNafh, .previewMessage-2uxBrA, .fieldList-in8WkP, .background-3d_SjE, .accountBtn-1YkMgV .accountBtnInner-3XK70s, .secondary-2bzKEX:hover:not(.disabled-184-il), .messageContainer-3VTXBC, .messages-23can0, .markup-eYLPri code, .section-3G9aLW, .role-23oyrw, .embedFull-1HGV2S, .folder-1hbNCn,  .childWrapper-1j_1ub, .theme-dark .feature-2IUcBI, .theme-light .feature-2IUcBI, .messageGroupWrapper-1jf_7C
{ background-color: var(--glasscord-secondary-alt) !important}

/* Transparent */
.wrapper-1gVUIN, .callContainer-BGIngG, .container-cH6QoY,  .threadSidebar-1o3BTy, .bg-1QIAus, .scroller-1TOeMq, .theme-dark .pageWrapper-2PwDoS, .theme-light .pageWrapper-2PwDoS,.loadingPopout-1feYe_, .powercord-quickcss .CodeMirror-gutters, .bodyInnerWrapper-2bQs1k, .header-1iEhSH, .tabBar-3DfKkN.top-K_jibn,  .titleContainer-3fPic2, .scroller-3_YDR2, .paymentHistory-2Zf4ZE, .contentRegionScroller-2_GT_N, .standardSidebarView-E9Pc3j, [class="layers-OrUESM layers-1YQhyW"], .layer-86YKbF, .contentRegion-3HkfJJ, .sidebarRegionScroller-FXiQOh, .channelHeader-DFRX8q, .app-2CXKsg, .wrapper-15CKyy, .root-22AK9z, .wrapper-1gVUIN.minimum-fXpVNc, .scroller-29cQFV, .applicationStore-2nk7Lo, .header-2EadGG, .scroller-2XLwLg, .stageSection-3mAD8V, .wrapper-1_HaEi, .scroller-3X7KbA, .members-3WRCEx, .members-3WRCEx>div, .theme-light .form-3gdLxP:before, .theme-dark .form-3gdLxP:before, .container-1NXEtd, .sidebar-1tnWFu, .panels-3wFtMD, .chat-2ZfjoI, .container-ZMc96U.themed-Hp1KC_, .wrapper-22ayhK, .theme-light .container-2cd8Mz, .theme-dark .container-2cd8Mz, .peopleColumn-1wMU14, .theme-light .root-g14mjS ,.theme-dark .root-g14mjS, .theme-dark .contentWrapper-3oy4Xo, .theme-light .contentWrapper-3oy4Xo, .homeWrapper-L4ors0, .container-1oAagU, .nowPlayingColumn-1eCBCN, .sidebar-1tnWFu,.base-2jDfDU, .privateChannels-oVe7HL, .scroller-WSmht3
{ background-color: transparent !important; background: transparent !important }
.theme-dark .notDetected-2HEmAp, .theme-light .notDetected-2HEmAp {
background-color: var(--alt-color2);
}
/* Glasscord Accent */
.example
{ background-color: var(--glasscord-accent) }

.channel-3NJZ1V {
bottom: 10px;
}
.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk
{ background-color: var(--alt-color2) !important}
.authedApp-1tw-eT .marginBottom20-315RVT .headerInfo-9C2zHz
{ background-color: var(--glasscord-secondary-alt); padding: 15px; border-radius: 6px; margin-left: -21px; margin-top: -21px; margin-right: -136px;}

.item-2idW98[aria-checked=true], .categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover, .option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover, .theme-dark .tierHeaderUnlocked-1OpOLf {
background-color: var(--green-color) !important;
}
/* Glasscord Floating */
.container-18GwIk, .scroller-2qwVWY , .messagesPopoutWrap-3zryHW, .container-2ebMPP, .theme-dark .container-1S70rv .sectionTag-28mLyE, .theme-dark .autocompleteArrow-jJE9TQ, .theme-dark .header-3i_Csh, .theme-light .autocompleteArrow-jJE9TQ, .theme-light .header-3i_Csh
{ background-color: var(--glasscord-floating); }
/* Backdrops */
[class="backdrop-2ByYRN"], .backdrop-2ByYRN.withLayer-2VVmpp
{ opacity: var(--glasscord-backdrop) !important; background: var(--glasscord-background) }

.content-1jQy2l:before, .children-3xh0VB:after, .tabBody-2dgbAs:before, .formNotice-2nS8ey, .gradientContainer-phMG8d
{ display: none }
.searchBar-3TnChZ, .header-3OsQeK
{ box-shadow: none }

.members-3WRCEx, .members-3WRCEx>div, .container-2o3qEW {
background-color: transparent !important;
}
.peopleList-2VBrVI {
   background-color: transparent !important;
}